# xcode ide
ide/xcode/omnitty.xcodeproj/xcuserdata
ide/xcode/omnitty.xcodeproj/project.xcworkspace/

# qt creator ide
*.user
*.stash
ide/qmake/build*/

# cmake ide
ide/cmake/.idea
ide/cmake/cmake-build-debug
ide/cmake/cmake-build-release

# build result
.depends
*.o
config.log
config.status
Makefile
ide/cmake/CMakeFiles
CMakeCache.txt
omnitty

# reote build result
librote.*
librote*.dylib
rote-config

3rdparty/sshpass-1.06
